body{
/*    background-color: aliceblue;*/
background-color: #ffcc33
    
}
.unique{
    background-color: burlywood;
}
img{
    position: absolute;
    z-index:-1
}
.beauty{
    background-color: darkcyan;
}
.green{
    background-color: #009900;
}
form{
    border-color: black;
   
}
.__price__{
    background-color: #00cc33;
    background-size: auto;
}
div div{
    background-color: #cc0000;
}
.delete{
    display: flex;
    flex-wrap: nowrap;
}
.orange{
    border-color: black solid 3px;
    
}
a{
    background-color: #ff3399
}