body{
/*    background-color: aliceblue;*/
background-color: #ffcc33
    
}
.unique{
    background-color: burlywood;
}
img{
    position: absolute;
    z-index:-1
}
.beauty{
    background-color: darkcyan;
}
.green{
    background-color: #009900;
}
sp form{
     display: inline-block;        
    border-color: black;
}
.__price__{
    background-color: #00cc33;
    background-size: auto;
}
div div{
    background-color: #cc0000;
}
.delete{
    display: flex;
    flex-wrap: nowrap;
}
.orange{
    border-color: black;    
}
a{
    background-color: #ff3399
}
.button_{
    /*box-sizing: content-box;*/
    
    background-color: #ffcc33;

}
.beauty:hover{
    background-color: aqua;
}